@charset "UTF-8";
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2");
  src: url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2");
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header {
  min-height: 56px;
  margin: 0 auto;
  background: #ffffff;
  color: #000000;
}

.body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  position: relative;
}

.nav__logo {
  cursor: pointer;
  position: absolute;
  left: 67px;
}

.nav__toggle {
  margin: 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 0 auto;
}
.nav__toggle:hover {
  fill-opacity: 0.6;
}
.nav__toggle:active {
  fill-opacity: 0.3;
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: absolute;
  z-index: 10;
}

.nav__item {
  display: block;
  width: 320px;
  height: 55px;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-top: 16px;
}

.nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.intro {
  width: 320px;
  margin: 0 auto;
}

.intro__logo {
  display: block;
  background-color: #0f0044;
  color: #000000;
  margin: 0;
  padding: 90px 19px 85px;
  background-image: url("../img/bg-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro__logo--inner {
  padding: 50px 45px 65px;
  background-position-x: center;
  background-position-y: -230px;
}

.intro__text {
  min-width: 282px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 34px;
  padding-left: 21px;
  padding-right: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.intro__text::before {
  position: absolute;
  width: 100%;
  height: 57px;
  top: -88px;
  background-image: url("../img/wh-intro-mob.png");
  background-repeat: no-repeat;
  content: "";
}
.intro__text--main::after {
  position: absolute;
  width: 100%;
  height: 37px;
  bottom: -53px;
  background-image: url("../img/wh-intro-mob-bot.png");
  background-repeat: no-repeat;
  content: "";
  z-index: 10;
}
.intro__text--catalog {
  padding-left: 16px;
  margin-bottom: 40px;
}
.intro__text--catalog::before {
  top: -89px;
  left: 1px;
}
.intro__text--form {
  margin-top: 37px;
  margin-bottom: 28px;
  padding-left: 10px;
}
.intro__text--form::before {
  top: -93px;
  left: 1px;
}

.intro__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 8px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
  text-align: center;
  text-transform: uppercase;
}
.intro__title--main {
  max-width: 280px;
  padding-top: 2px;
  padding-right: 12px;
}
.intro__title--catalog {
  margin-bottom: 25px;
}
.intro__title--form {
  margin-bottom: 23px;
}

.intro__subtitle {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}
.intro__subtitle--form {
  padding-left: 10px;
}

.advantages__main-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  counter-reset: main-list;
}

.advantages__item {
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}
.advantages__item--main::before {
  counter-increment: main-list;
  content: "- №" counter(main-list) " -";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 45%;
}
.advantages__item--main:nth-child(1)::before {
  top: 90px;
  color: #ffffff;
}
.advantages__item--main:nth-child(2)::before {
  top: 75px;
  color: #ffffff;
}

.advantages__other-list {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 54px;
  padding: 0;
  padding-top: 22px;
  width: 280px;
}

.card__box {
  height: 191px;
  padding: 35px 15px 39px;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__box--city {
  height: 209px;
  padding-top: 55px;
}

.card__other {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 40px 235px;
  column-gap: 6px;
  row-gap: 10px;
}

.card__main-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 166px;
  padding: 22px 35px 27px;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.card__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 144%;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.card__title--box {
  color: #ffffff;
}
.card__title--house {
  text-align: start;
  padding-top: 8px;
}
.card__title--gift {
  text-align: start;
  padding-top: 8px;
}
.card__title--burger {
  text-align: start;
  padding-top: 8px;
}

.card__text {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #333333;
  text-align: center;
}
.card__text--box {
  color: #ffffff;
}
.card__text--house {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: start;
}
.card__text--gift {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: start;
}
.card__text--burger {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: start;
}

.card__photo img {
  display: block;
  margin: 0;
  width: 100%;
  height: 260px;
}

.search {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 23px;
}

.search__title {
  margin-bottom: 5px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  text-transform: uppercase;
  text-align: center;
}

.search__text {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.search__button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  cursor: pointer;
}
.search__button:hover {
  background-color: #669ec0;
}
.search__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.social {
  display: flex;
  flex-direction: column;
}

.social__sedona {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 32px;
}
.social__sedona--main-page {
  margin-top: 38px;
}
.social__sedona--inner-page {
  margin-top: 25px;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
}

.social__item {
  margin-right: 6px;
  position: relative;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.social__link svg:active {
  fill-opacity: 0.3;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}

.copyright {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.copyright svg:hover {
  fill: #81b3d2;
}
.copyright svg:active {
  fill: #b3b3b3;
}

.copyright__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
  padding-right: 15px;
}
.copyright__text:hover {
  color: #81b3d2;
}
.copyright__text:active {
  color: #b3b3b3;
}

.map {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 350px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.gallery__item {
  text-align: center;
}

.holder {
  width: 320px;
  border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  margin-bottom: 2px;
}
.holder:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.holder__photo {
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  margin-top: 24px;
}

.holder__info {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.holder__quote {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.holder__autor {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #333333;
  margin-bottom: 11px;
}

.holder__liked {
  margin-bottom: 25px;
  display: flex;
}

.holder__button {
  padding: 0;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  margin-right: 14px;
  cursor: pointer;
}

.holder__counter {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
  align-items: flex-end;
  padding-top: 3px;
}

.presentation {
  width: 280px;
  margin: 0 auto;
}

.presentation__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
}

.presentation__subtitle {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.presentation__stopcadr {
  margin: 0;
}

.form {
  margin: 0 auto;
  padding: 0;
}
.form fieldset {
  border: none;
  border-top: 1px solid #e5e5e5;
}

.form__group {
  width: 320px;
  margin: 0 auto;
  padding: 70px 10px 34px;
  position: relative;
}
.form__group--showplaces {
  padding-top: 96px;
  padding-bottom: 25px;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  top: 24px;
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-left: 10px;
}
.form__inner:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
}

.form__input {
  width: 280px;
  background-color: #f2f2f2;
  height: 58px;
  border: none;
}
.form__input:hover {
  border: none;
  background-color: #e5e5e5;
}
.form__input:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}

.form__container {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
}

.form__button {
  display: block;
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.form__button:hover {
  background-color: #669ec0;
}
.form__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.form__button:disabled {
  background-color: #e5e5e5;
}

.form__info {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: end;
}

.user-data {
  margin-bottom: 5px;
}

.user-data__title {
  left: 90px;
}

.user-data__input {
  padding: 0;
  padding-top: 5px;
  padding-left: 14px;
}
.user-data__input::placeholder {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  align-items: center;
  color: #000000;
}

.user-contacts__title {
  left: 40px;
}

.user-contacts__phone {
  position: relative;
}

.user-contacts__email {
  position: relative;
}

.user-contacts__input {
  padding: 0;
  padding-top: 5px;
  padding-left: 16px;
}
.user-contacts__input::placeholder {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
}

.user-contacts__icon {
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 21px;
  right: 10px;
}
.user-contacts__icon--phone {
  background-image: url("../img/icon-phone.svg");
}
.user-contacts__icon--email {
  background-image: url("../img/icon-mail.svg");
}

.effects {
  padding-left: 20px;
  padding-bottom: 25px;
}

.effects__title {
  left: 43px;
}

.effects__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.effects__item {
  height: 46px;
  margin-bottom: 16px;
}
.effects__item:last-child {
  margin-bottom: 0;
}

.showplaces {
  margin-bottom: 0;
}

.showplaces__title {
  left: 0;
}

.showplaces__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.showplaces__item {
  height: 46px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.showplaces__item:last-child {
  margin-bottom: 0;
}

.emotions {
  margin-bottom: 16px;
  padding-left: 20px;
}

.emotions__title {
  left: 53px;
}

.emotions__input {
  width: 280px;
  height: 150px;
  padding: 0;
  padding-top: 15px;
  padding-left: 18px;
}
.emotions__input::placeholder {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  color: rgba(0, 0, 0, 0.3);
}

.control {
  position: relative;
  display: block;
  padding-left: 62px;
  padding-top: 10px;
}

.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  cursor: pointer;
  content: "";
}
.control__mark--effects {
  width: 46px;
  border-radius: 50%;
}

.control__input:hover ~ .control__mark {
  background-color: #e5e5e5;
}
.control__input:active ~ .control__mark {
  background-color: #d5d5d5;
}
.control__input[type=radio]:checked + .control__mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
  content: "";
}
.control__input[type=checkbox]:checked + .control__mark::before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  content: "";
}

.control__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */