// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

//Colors
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;
$grey-body: #f2f2f2;
$dark: #333333;
$blue-base: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;


//шрифты
$base-font: "PT Sans", sans-serif;
$weight-normal: 400;
$weight-bold: 700;
$active-font: rgba(255, 255, 255, 0.3);
