.body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-style: normal;
  min-height: 100vh;
}

.body__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    // width: 1280px;
    // padding: 0 40px;
    // background-color: $grey-light;
    width: 1200px;
  }
}
