.card {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 256px;

    &:first-child,
    &:nth-child(2) {
      max-width: 768px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;

    &:first-child,
    &:nth-child(2) {
      max-width: 1200px;
    }
  }
}

.card__box {
  min-height: 191px;
  padding: 35px 15px 39px;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--city {
    min-height: 209px;
    padding-top: 53px;

    @media (min-width: $tablet-width) {
      max-height: 256px;
      padding: 40px 20px 45px;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-around;
      padding: 40px 60px;
    }
  }

  &--bridge {
    padding-top: 40px;
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      order: 2;
      padding: 41px 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 50px 75px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 256px;
    max-height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.card__other {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  display: grid;
  background-color: $white;
  grid-template-columns: 40px 240px;
  column-gap: 3px;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 256px;
    min-height: 330px;
    align-items: center;
    margin-bottom: 0;
    padding-top: 60px;
  }

  &--house {
    &::before {
      content: "";
      width: 39px;
      height: 37px;
      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: 39px 37px;

      @media (min-width: $tablet-width) {
        width: 75px;
        height: 72px;
        background-size: 75px 72px;
      }
    }
  }

  &--burger {
    &::before {
      content: "";
      width: 40px;
      height: 35px;
      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: 40px 35px;
      padding-left: 0;

      @media (min-width: $tablet-width) {
        width: 76px;
        height: 68px;
        background-size: 76px 68px;
      }
    }
  }

  &--gift {
    &::before {
      content: "";
      width: 32px;
      height: 38px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: 32px 38px;

      @media (min-width: $tablet-width) {
        width: 64px;
        height: 75px;
        background-size: 64px 75px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
  }
}

.card__main-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 166px;
  padding: 24px 35px 27px;
  background-color: $grey;
  position: relative;

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: $grey-card-border;
    position: absolute;
    bottom: 0;
    left: 18px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 42px 38px;
    align-items: center;
    justify-content: flex-start;
  }
}

.card__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 144%;
  font-weight: $weight-bold;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 124%;
  }

  &--box {
    color: $white;
    margin-bottom: 8px;

    @media (min-width: $desktop-width) {
      padding: 0 36px;
      margin-bottom: 0;
    }
  }

  &--house {
    text-align: start;
    padding-top: 8px;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
    }
  }

  &--burger {
    text-align: start;
    padding-top: 8px;

    @media (min-width: $tablet-width) {
      padding-top: 18px;
      padding-left: 0;
    }
  }

  &--gift {
    text-align: start;
    padding-top: 8px;

    @media (min-width: $tablet-width) {
      padding-top: 10px;
    }
  }

  &--main-list {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      max-width: 157px;
    }

    @media (min-width: $desktop-width) {
      max-width: 315px;
      padding: 3px 83px;
    }
  }
}

.card__text {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 150%;
  font-weight: $weight-normal;
  color: $dark;
  text-align: center;

  &--box {
    color: $white;
  }

  &--house {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: start;

    @media (min-width: $tablet-width) {
      text-align: center;
      padding-top: 12px;
      max-width: 189px;
    }

    @media (min-width: $desktop-width) {
      max-width: 255px;
    }
  }

  &--burger {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: start;
    padding-left: 5px;

    @media (min-width: $tablet-width) {
      text-align: center;
      padding-top: 10px;
      max-width: 161px;
    }

    @media (min-width: $desktop-width) {
      max-width: 288px;
    }
  }

  &--gift {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: start;

    @media (min-width: $tablet-width) {
      text-align: center;
      padding-top: 12px;
      max-width: 195px;
    }

    @media (min-width: $desktop-width) {
      max-width: 255px;
    }
  }

  &--main-list {
    @media (min-width: $tablet-width) {
      margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 20px;
    }
  }
}

.card__photo {
  img {
    display: block;
    margin: 0;
    max-width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  &--bridge {
    background-color: $grey-holder;

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
