.effects {
  width: 280px;
  margin-bottom: 30px;
  padding-top: 32px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 37px;
    padding-left: 10px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 53px;
    margin-bottom: 40px;
  }
}

.effects__title {
  padding-left: 13px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
  }
}

.effects__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 26px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-left: 54px;
    margin-bottom: 0;
  }
}

.effects__item {
  height: 46px;
  margin-bottom: 16px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 296px;
  }

  @media (min-width: $desktop-width) {
    width: 308px;

    &:last-child {
      width: 280px;
    }
  }
}

.effects__text {
  font-family: $base-font;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 144%;
  color: $black;
  position: relative;
  padding-top: 12px;
  padding-left: 60px;
  cursor: pointer;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $grey-light;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $dark;
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0;
  }
}

.effects__label input {
  &:checked + .effects__text::after {
    opacity: 1;
  }

  &:hover + .effects__text::before {
    background-color: $grey-dark;
  }

  &:active + .effects__text::before {
    background-color: $grey-active;
  }
}
