.emotions {
  width: 280px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 13px;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 0;
    padding-top: 30px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: 94px;
  }
}

.emotions__title {
  @media (min-width: $desktop-width) {
    padding-right: 98px;
  }
}

.emotions__input {
  width: 280px;
  height: 150px;
  padding: 0;
  padding-top: 15px;
  padding-left: 18px;

  &::placeholder {
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 144%;
    color: $black-opacity;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}
