.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 34px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

fieldset {
  border: none;
}

.form__group {
  width: 320px;
  position: relative;

  &::after {
    content: "";
    width: auto;
    height: 1px;
    background-color: $grey-dark;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
  }

  &--showplaces {
    &::after {
      top: -80px;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 123px;
      top: -10px;
      left: 0;
    }

    &::before {
      content: "";
      width: 123px;
      height: 1px;
      background-color: $grey-dark;
      position: absolute;
      top: -10px;
      right: 0;
    }

    &--user-data {
      &::after {
        width: 1px;
        min-height: 338px;
        height: 100%;
        top: 14px;
        left: 324px;
      }

      &::before {
        display: none;
      }
    }

    &--user-contacts {
      &::after,
      &::before {
        display: none;
      }
    }

    &--effects {
      &::after,
      &::before {
        top: -14px;
      }
    }

    &--showplaces {
      &::after,
      &::before {
        top: -26px;
      }
    }

    &--emotions {
      &::after,
      &::before {
        top: -13px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::after,
    &::before {
      width: 280px;
    }

    &--user-data {
      &::after {
        width: 1px;
        min-height: 338px;
        top: 25px;
        left: 493px;
      }

      &::before {
        display: none;
      }
    }

    &--showplaces {
      &::after,
      &::before {
        top: -56px;
      }
    }
  }
}

.form__title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  padding: 0;
  margin: 0 auto;
  min-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 124%;
    margin: 0;
    position: absolute;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  margin-left: 16px;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-transform: uppercase;
  color: $dark;
}

.form__input {
  font-family: $base-font;
  font-style: normal;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 144%;
  color: $black-opacity;
  width: 280px;
  background-color: $grey-light;
  height: 58px;
  border: none;

  &:hover {
    border: none;
    background-color: $grey-dark;
  }

  &:active {
    background-color: $white;
    border: 4px solid $grey-dark;
  }
}

.form__mark {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  z-index: -1;
  opacity: 0;
}

.form__container {
  margin: 0 auto;
  margin-bottom: 27px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 768px;
    margin-bottom: 31px;
  }
}

.form__button {
  display: block;
  width: 280px;
  min-height: 58px;
  padding: 0;
  padding-top: 8px;
  background-color: $blue-base;
  border: none;
  color: $white;
  font-family: $base-font;
  font-weight: $weight-bold;
  font-size: 21px;
  line-height: 124%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: $white-opacity-03;
  }

  &:disabled {
    background-color: $grey-dark;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__info {
  margin: 0;
  padding-top: 5px;
  font-weight: $weight-normal;
  font-size: 12px;
  line-height: 175%;
  text-transform: uppercase;
  color: $dark-opacity;
  text-align: end;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 150%;
    padding-top: 10px;
  }
}
