.intro {
  width: 320px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    width: 320px;
    height: 57px;
    background-image: url("../img/bg-intro/triangle-mob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    @media (min-width: $tablet-width) {
      width: 768px;
      background-image: url("../img/bg-intro/triangle-tabl.svg");
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      background-image: url("../img/bg-intro/triangle-desk.svg");
    }
  }

  &--main {
    position: relative;

    &::before {
      top: 332px;
      left: 0;

      @media (min-width: $tablet-width) {
        top: 461px;
      }

      @media (min-width: $desktop-width) {
        top: 461px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }

  &--catalog {
    &::before {
      top: 102px;
      left: 0;

      @media (min-width: $tablet-width) {
        top: 233px;
      }

      @media (min-width: $desktop-width) {
        top: 244px;
      }
    }
  }

  &--form {
    &::before {
      top: 102px;
      left: 0;

      @media (min-width: $tablet-width) {
        top: 233px;
      }

      @media (min-width: $desktop-width) {
        top: 244px;
      }
    }
  }
}

.intro__inner {
  min-height: 158px;

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}

.intro__logo {
  display: block;
  background-color: $dark;
  background-repeat: no-repeat;
  background-size: cover;

  &--main {
    display: block;
    width: 320px;
    height: 389px;
    background-image: url("../img/bg-intro/main-mob.jpg");
    padding: 90px 19px 85px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro/main-mob@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 518px;
      background-image: url("../img/bg-intro/main-tabl.jpg");
      padding: 77px 19px 90px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/main-tabl@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      background-image: url("../img/bg-intro/main-desk.jpg");
      background-position-y: 30%;
      padding: 77px 19px 90px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/main-desk@2x.jpg");
      }
    }
  }

  &--inner {
    width: 320px;
    height: 158px;
    background-image: url("../img/bg-intro/inner-mob.jpg");
    background-position: 0 -55px;
    padding: 52px 19px 67px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro/inner-mob@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 290px;
      background-image: url("../img/bg-intro/inner-tabl.jpg");
      padding: 95px 19px 117px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/inner-tabl@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 301px;
      background-image: url("../img/bg-intro/inner-desk.jpg");
      padding: 101px 371px 120px 368px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/inner-desk@2x.jpg");
      }
    }
  }
}
