.intro {
  width: 100%;
  margin: 0 auto;
  background-color: $dark;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 57px;
    background-image: url("../img/bg-intro/triangle-mob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-intro/triangle-tabl.svg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-intro/triangle-desk.svg");
    }
  }

  &--main {
    display: block;
    min-height: 389px;
    background-image: url("../img/bg-intro/main-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro/main-mob@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      min-height: 518px;
      background-image: url("../img/bg-intro/main-tabl.jpg");
      padding-top: 77px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/main-tabl@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-intro/main-desk.jpg");
      background-position-y: 30%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/main-desk@2x.jpg");
      }
    }
  }

  &--inner {
    min-height: 158px;
    background-image: url("../img/bg-intro/inner-mob.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -55px;
    padding-top: 52px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro/inner-mob@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      min-height: 290px;
      background-image: url("../img/bg-intro/inner-tabl.jpg");
      padding-top: 95px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/inner-tabl@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 301px;
      background-image: url("../img/bg-intro/inner-desk.jpg");
      padding-top: 101px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-intro/inner-desk@2x.jpg");
      }
    }
  }
}

.intro__logo {
  display: block;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &--main {
    @media (min-width: $tablet-width) {
      width: 461px;
      height: 350px;
    }
  }

  &--inner {
    @media (min-width: $tablet-width) {
      width: 457px;
      height: 78px;
    }

    @media (min-width: $desktop-width) {
      width: 460px;
      height: 80px;
    }
  }
}
