.intro {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.intro__inner {
  min-height: 158px;

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}

.intro__logo {
  background-color: #0f0044;
  color: #000000;
  margin: 0;

  &--mobile {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      margin: 0 auto;
    }
  }

  &--mobile-inner {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet-inner {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop-inner {
    display: none;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      margin: 0 auto;
    }
  }
}

.intro__text {
  min-width: 282px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 34px;
  padding-left: 21px;
  padding-right: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 520px;
    margin-top: 46px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    margin-bottom: 0;
    padding-bottom: 25px;
  }

  &--main {
    &::after {
      position: absolute;
      width: 100%;
      height: 37px;
      bottom: -53px;
      background-image: url("../img/wh-intro-mob-bot.png");
      background-repeat: no-repeat;
      content: "";
      z-index: 10;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--catalog {
    margin-top: 34px;
    padding-left: 16px;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      // min-width: 474px;
      width: 474px;
      margin-top: 60px;
      margin-bottom: 90px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 98px;
      margin-bottom: 42px;
    }
  }

  &--form {
    margin-top: 36px;
    margin-bottom: 29px;
    padding-left: 10px;

    @media (min-width: $tablet-width) {
      margin-top: 64px;
      margin-bottom: 106px;
      padding-left: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 113px;
      margin-bottom: 20px;
      padding-left: 17px;
    }
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 8px;
  color: $black;
  font-size: 18px;
  font-weight: $weight-bold;
  line-height: 144%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 124%;
    margin-bottom: 28px;
  }

  &--main {
    max-width: 280px;
    padding-top: 2px;
    padding-right: 12px;

    @media (min-width: $tablet-width) {
      max-width: 520px;
    }
  }

  &--catalog {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 87%;
      padding-left: 2px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
    }
  }

  &--form {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 87%;
      padding-left: 2px;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
    }
  }
}

.intro__subtitle {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: $dark;
  font-size: 14px;
  font-weight: $weight-normal;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;

  &--form {
    padding-left: 10px;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      padding-left: 10px;
    }
  }
}
