.intro {
  width: 320px;
  margin: 0 auto;

  &--main {
    position: relative;

    &::after {
      content: "";
      background-color: $white;
      width: 100%;
      height: 37px;
      position: absolute;
      bottom: -53px;
      left: 0;
      clip-path: polygon(0 0, 0 22px, 160px 37px, 320px 22px, 320px 0);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.intro__inner {
  min-height: 158px;

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}

.intro__logo {
  display: block;
  background-color: $dark;
  background-repeat: no-repeat;
  background-size: cover;

  &--main {
    display: block;
    width: 320px;
    height: 389px;
    background-image: url("../img/bg-intro/main-mob.jpg");
    padding: 90px 19px 85px;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 518px;
      background-image: url("../img/bg-intro/main-tabl.jpg");
      padding: 77px 19px 90px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      background-image: url("../img/bg-intro/main-desk.jpg");
      padding: 77px 19px 90px;
    }
  }

  &--inner {
    width: 320px;
    height: 158px;
    background-image: url("../img/bg-intro/inner-mob.jpg");
    background-position: 0 -55px;
    padding: 52px 19px 67px;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 290px;
      background-image: url("../img/bg-intro/inner-tabl.jpg");
      padding: 95px 19px 117px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 301px;
      background-image: url("../img/bg-intro/inner-desk.jpg");
      padding: 101px 371px 120px 368px;
    }
  }
}

.intro__text {
  min-width: 282px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 34px;
  padding-left: 21px;
  padding-right: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 320px;
    height: 57px;
    background-image: url("../img/bg-intro/triangle-mob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    @media (min-width: $tablet-width) {
      width: 768px;
      background-image: url("../img/bg-intro/triangle-tabl.svg");
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      background-image: url("../img/bg-intro/triangle-desk.svg");
    }
  }

  @media (min-width: $tablet-width) {
    width: 520px;
    margin-top: 46px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    margin-bottom: 0;
    padding-bottom: 25px;
  }

  &--main {
    position: relative;

    &::before {
      content: "";
      top: -89px;
      left: 0;

      @media (min-width: $tablet-width) {
        top: -103px;
        left: -124px;
      }

      @media (min-width: $desktop-width) {
        top: -114px;
        left: -340px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--catalog {
    margin-top: 34px;
    padding-left: 16px;
    margin-bottom: 40px;

    &::before {
      content: "";
      top: -91px;
      left: 0;

      @media (min-width: $tablet-width) {
        top: -117px;
        left: -147px;
      }

      @media (min-width: $desktop-width) {
        top: -154px;
        left: -363px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 474px;
      margin-top: 60px;
      margin-bottom: 90px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 98px;
      margin-bottom: 63px;
    }
  }

  &--form {
    margin-top: 36px;
    margin-bottom: 29px;
    padding-left: 10px;

    &::before {
      content: "";
      top: -93px;
      left: 0;

      @media (min-width: $tablet-width) {
        top: -120px;
        left: -124px;
      }

      @media (min-width: $desktop-width) {
        top: -169px;
        left: -340px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-top: 64px;
      margin-bottom: 106px;
      padding-left: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 113px;
      margin-bottom: 40px;
      padding-left: 17px;
    }
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 8px;
  color: $black;
  font-size: 18px;
  font-weight: $weight-bold;
  line-height: 144%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 124%;
    margin-bottom: 28px;
  }

  &--main {
    max-width: 280px;
    padding-top: 2px;
    padding-right: 12px;

    @media (min-width: $tablet-width) {
      max-width: 520px;
    }
  }

  &--catalog {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 87%;
      padding-left: 2px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
    }
  }

  &--form {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 87%;
      padding-left: 2px;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
    }
  }
}

.intro__subtitle {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: $dark;
  font-size: 14px;
  font-weight: $weight-normal;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;

  &--form {
    padding-left: 10px;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      padding-left: 10px;
    }
  }
}
