.nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  position: relative;
}

.nav__logo {
  cursor: pointer;
  position: absolute;
  left: 67px;
}

.nav__toggle {
  margin: 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 0 auto;

  &:hover {
    fill-opacity: 0.6;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.nav__list {
  // display: none;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: absolute;
  z-index: 10;
}

.nav__item {
  display: block;
  width: 320px;
  height: 55px;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-top: 16px;
}

.nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}
