.presentation {
  width: 280px;
  margin: 0 auto;
}

.presentation__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
}

.presentation__subtitle {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.presentation__stopcadr {
  margin: 0;
}
