.presentation {
  width: 280px;
  margin: 0 auto;
  position: relative;

  // &::before {
  //   content: "";
  //   width: 48px;
  //   height: 54px;
  //   background-image: url("../img/catalog/icon-play.svg");
  //   background-repeat: no-repeat;
  //   background-size: auto;
  //   position: absolute;
  //   top: 217px;
  //   left: 124px;
  //   cursor: pointer;
  // }

  @media (min-width: $tablet-width) {
    width: 648px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-bottom: 80px;
  }
}

.presentation__title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 144%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 87%;
    margin-top: 56px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}

.presentation__subtitle {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $dark;

  @media (min-width: $tablet-width) {
    min-width: 445px;
    margin-bottom: 90px;
  }
}

.presentation__stopcadr {
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.presentation__button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 217px;
  left: 124px;

  @media (min-width: $tablet-width) {
    top: 410px;
    left: 299px;
  }

  @media (min-width: $desktop-width) {
    left: 374px;
  }
}

.presentation__icon-play {
  fill: $white;
  fill-opacity: 0.7;

  &:hover {
    fill-opacity: 1;
  }
}
