.showplaces {
  width: 280px;
  margin-bottom: 39px;
  padding-top: 21px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding-top: 29px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin-bottom: 62px;
  }
}

.showplaces__title {
  padding-left: 13px;

  @media (min-width: $tablet-width) {
    max-width: 308px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 6px;
    padding-bottom: 28px;
  }
}

.showplaces__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 948px;
    padding-left: 15px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
}

.showplaces__item {
  height: 46px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 224px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin-right: 5px;
    padding-left: 10px;

    &:nth-child(2) {
      padding-left: 20px;
    }

    &:nth-child(3) {
      padding-left: 30px;
    }

    &:last-child {
      width: 204px;
      padding-left: 20px;
    }
  }
}
