.showplaces {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 29px 20px 0 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    padding-top: 39px;
    margin-bottom: 45px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.showplaces__title {
  @media (min-width: $tablet-width) {
    max-width: 308px;
    top: -52px;
    left: 170px;
  }

  @media (min-width: $desktop-width) {
    top: -83px;
    left: 325px;
    padding-bottom: 28px;
  }
}

.showplaces__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    padding-left: 67px;
    padding-right: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 948px;
    padding-left: 9px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
}

.showplaces__item {
  min-height: 46px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 224px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin-right: 5px;
    padding-left: 10px;

    &:nth-child(2) {
      padding-left: 20px;
    }

    &:nth-child(3) {
      padding-left: 30px;
    }

    &:last-child {
      width: 204px;
      padding-left: 20px;
    }
  }
}

.showplaces__text {
  font-family: $base-font;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 144%;
  color: $black;
  position: relative;
  padding-top: 12px;
  padding-left: 60px;
  cursor: pointer;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    background-color: $grey-light;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    width: 22px;
    height: 16px;
    background-image: url("../img/tick.svg");
    position: absolute;
    top: 15px;
    left: 12px;
    opacity: 0;
  }
}

.showplaces__label input {
  &:checked + .showplaces__text::after {
    opacity: 1;
  }

  &:focus + .showplaces__text::before {
    border: outset $black;
  }

  &:hover + .showplaces__text::before {
    background-color: $grey-dark;
  }

  &:active + .showplaces__text::before {
    background-color: $grey-active;
  }
}
