.social {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social__sedona {
  font-style: normal;
  font-weight: $weight-bold;
  font-size: 21px;
  line-height: 124%;
  color: $black;
  margin: 0 auto;
  margin-bottom: 32px;

  &:hover {
    color: $blue-hover;
  }

  &:active {
    color: $blue-active;
  }

  &--main-page {
    margin-top: 38px;

    @media (min-width: $tablet-width) {
      margin-top: 12px;
      margin-left: 0;
      margin-right: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 10px;
      margin-right: 130px;
    }
  }

  &--catalog {
    margin: 0 auto;
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-top: 12px;
      margin-right: 48px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 129px;
    }
  }

  &--form {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-top: 12px;
      margin-right: 48px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 124px;
    }
  }
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 42px;
  display: flex;
  max-height: 48px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.social__item {
  display: block;
  margin-right: 6px;
  width: 48px;
  height: 48px;
  background-color: $blue-base;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 14px;

  svg {
    &:active {
      fill-opacity: 0.3;
    }
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }
}
