.user-data {
  width: 280px;
  margin-bottom: 54px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0;
    padding-top: 30px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    width: 557px;
    margin: 0;
    margin-bottom: 70px;
  }
}

.user-data__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    // padding-left: 12px;
    padding-right: 63px;
  }
}

.user-data__input {
  padding: 0;
  padding-top: 5px;
  padding-left: 14px;

  &::placeholder {
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 144%;
    align-items: center;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}
