.user-contacts {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.user-contacts__title {
  left: 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 26px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    top: 3px;
    left: 94px;
  }
}

.user-contacts__phone {
  position: relative;
}

.user-contacts__email {
  position: relative;
}

.user-contacts__input {
  padding: 0;
  padding-top: 5px;
  padding-left: 16px;

  &::placeholder {
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 144%;
    align-items: center;
    color: $black-opacity;
  }

  @media (min-width: $desktop-width) {
    width: 402px;
  }
}

.user-contacts__icon {
  display: block;
  width: 58px;
  height: 58px;
  background-color: $grey-icon;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 21px;
  right: 10px;

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }

  @media (min-width: $tablet-width) {
    right: 2px;
  }
}
