.user-contacts {
  width: 280px;
  margin-bottom: 49px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 402px;
    margin: 0;
  }
}

.user-contacts__title {
  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-right: 68px;
  }
}

.user-contacts__phone {
  position: relative;
}

.user-contacts__email {
  position: relative;
}

.user-contacts__label {
  @media (min-width: $tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 18px;
  }
}

.user-contacts__input {
  padding: 0;
  padding-top: 5px;
  padding-left: 16px;

  &::placeholder {
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 144%;
    align-items: center;
    color: $black-opacity;
  }

  @media (min-width: $tablet-width) {
    margin-left: 43px;
  }

  @media (min-width: $desktop-width) {
    // margin-left: 76px;
    margin-left: 0;
    width: 402px;
  }
}

.user-contacts__icon {
  display: block;
  width: 58px;
  height: 58px;
  background-color: $grey-icon;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 21px;
  right: 1px;

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }

  @media (min-width: $tablet-width) {
    right: 2px;
  }
}
