.user-data {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 338px;
      background-color: $grey-border;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.user-data__title {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 90px;
  }

  @media (min-width: $desktop-width) {
    top: 3px;
    left: 235px;
  }
}

.user-data__input {
  padding: 0;
  padding-top: 5px;
  padding-left: 14px;

  &::placeholder {
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 144%;
    align-items: center;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}
